<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>관리자 페이지</h1>
    <h2>상호 및 주소 추가</h2>
    <form action="/store" method="post">
        <label for="name">상호명:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="address">주소:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="address">카테고리:</label><br>
        <input type="text" id="category" name="category"><br>
        <input type="submit" value="추가">
      </form> 
      <br>
    <h1><a href="/data">식당 정보 확인</a></h1>
    <a href="/logout">로그아웃</a>
    <a href="/">메인페이지</a>


      
    
</body>
</html>