<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>관리자 로그인</h1>
    <form action="/admin_login" method="post">
        <label for="admin_id">ID</label><br>
        <input type="text" id="admin_id" name="admin_id"><br>
        <label for="admin_pw">Password</label><br>
        <input type="password" id="admin_pw" name="admin_pw"><br>
        <input type="submit" value="Sign IN">
      </form> 
      <br>
    <a href="/sign_up">관리자 추가</a>
    <a href="/">메인페이지</a>


      
    
</body>
</html>