<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>관리자 회원 가입</h1>
    <form action="/signup_complete" method="post">
        <label for="admin_id">ID</label><br>
        <input type="text" id="admin_id" name="admin_id"><br>
        <label for="admin_pw">Password</label><br>
        <input type="password" id="admin_pw" name="admin_pw"><br>
        <label for="nickname">닉네임</label><br>
        <input type="text" id="nickname" name="nickname"><br>
        <input type="submit" value="Sign UP">
      </form> 
      <br>
    <a href="/admin_login">뒤로가기</a><br>
    <a href="/">메인페이지</a>


      
    
</body>
</html>